<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Team</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            body {background-color: #caf0f8;}
            h1   {font-size: 60px; padding: 30px; font-family: 'Quicksand'; border-radius: 50px; background-color: #023e8a;}
        </style>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="team-heading col-12 mb-3 text-white">
                <h1 class="text-center">My Team</h1>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class= "team-area col-12 d-flex justify-content-center">
                {{ team }}
            </div>
        </div>
    </div>
    
</body>

</html>